/****** Object:  Table [dbo].[Administrators]    Script Date: 11/5/2025 9:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE DATABASE [CodeQuest];
GO
USE [CodeQuest];
GO
CREATE TABLE [dbo].[Administrators](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Administrators] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Choices]    Script Date: 11/5/2025 9:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Choices](
	[ChoiceID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionID] [int] NOT NULL,
	[ChoiceText] [varchar](500) NOT NULL,
	[IsCorrect] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 11/5/2025 9:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[Text] [varchar](1000) NOT NULL,
	[Difficulty] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoundAnswers]    Script Date: 11/5/2025 9:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoundAnswers](
	[RoundAnswerID] [int] IDENTITY(1,1) NOT NULL,
	[RoundID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[ChoiceID] [int] NOT NULL,
	[IsCorrect] [bit] NOT NULL,
	[AnsweredAt] [datetime2](7) NOT NULL,
	[TimeSpentSec] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoundAnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rounds]    Script Date: 11/5/2025 9:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rounds](
	[RoundID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[StartedAt] [datetime2](7) NOT NULL,
	[CompletedAt] [datetime2](7) NULL,
	[Score] [int] NOT NULL,
	[XpEarned] [int] NOT NULL,
	[DurationSec] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoundID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/5/2025 9:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Xp] [int] NOT NULL,
	[Level] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Administrators] ON 

INSERT [dbo].[Administrators] ([AdminID], [Username], [Password], [CreatedAt]) VALUES (1, N'admin', N'admin', CAST(N'2025-11-06T02:11:38.1737807' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Administrators] OFF
GO
SET IDENTITY_INSERT [dbo].[Choices] ON 

INSERT [dbo].[Choices] ([ChoiceID], [QuestionID], [ChoiceText], [IsCorrect]) VALUES (1, 1, N'Console.WriteLine()', 1)
INSERT [dbo].[Choices] ([ChoiceID], [QuestionID], [ChoiceText], [IsCorrect]) VALUES (2, 1, N'print', 0)
INSERT [dbo].[Choices] ([ChoiceID], [QuestionID], [ChoiceText], [IsCorrect]) VALUES (3, 1, N'echo', 0)
GO
SET IDENTITY_INSERT [dbo].[Choices] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionID], [Text], [Difficulty]) VALUES (1, N'¿Qué palabra clave se usa para mostrar un mensaje por consola en C#?', 1)
INSERT [dbo].[Questions] ([QuestionID], [Text], [Difficulty]) VALUES (2, N'¿Qué tipo de dato almacena números enteros en C#?', 1)
INSERT [dbo].[Questions] ([QuestionID], [Text], [Difficulty]) VALUES (3, N'¿Qué valor lógico representa falso en C#?', 1)
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[Rounds] ON 

INSERT [dbo].[Rounds] ([RoundID], [UserID], [StartedAt], [CompletedAt], [Score], [XpEarned], [DurationSec]) VALUES (1, 1, CAST(N'2025-11-03T05:01:37.6118433' AS DateTime2), NULL, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[Rounds] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Xp], [Level], [CreatedAt]) VALUES (1, N'Tiago', 0, 1, CAST(N'2025-11-03T04:56:54.1888746' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Administrators_Username]    Script Date: 11/5/2025 9:17:37 PM ******/
ALTER TABLE [dbo].[Administrators] ADD  CONSTRAINT [UQ_Administrators_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Round_Question]    Script Date: 11/5/2025 9:17:37 PM ******/
ALTER TABLE [dbo].[RoundAnswers] ADD  CONSTRAINT [UQ_Round_Question] UNIQUE NONCLUSTERED 
(
	[RoundID] ASC,
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4D5A5A5CA]    Script Date: 11/5/2025 9:17:37 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Administrators] ADD  CONSTRAINT [DF_Administrators_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Choices] ADD  DEFAULT ((0)) FOR [IsCorrect]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT ((1)) FOR [Difficulty]
GO
ALTER TABLE [dbo].[RoundAnswers] ADD  DEFAULT (sysutcdatetime()) FOR [AnsweredAt]
GO
ALTER TABLE [dbo].[RoundAnswers] ADD  DEFAULT ((0)) FOR [TimeSpentSec]
GO
ALTER TABLE [dbo].[Rounds] ADD  DEFAULT (sysutcdatetime()) FOR [StartedAt]
GO
ALTER TABLE [dbo].[Rounds] ADD  DEFAULT ((0)) FOR [Score]
GO
ALTER TABLE [dbo].[Rounds] ADD  DEFAULT ((0)) FOR [XpEarned]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Xp]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Choices]  WITH CHECK ADD  CONSTRAINT [FK_Choices_Questions] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Questions] ([QuestionID])
GO
ALTER TABLE [dbo].[Choices] CHECK CONSTRAINT [FK_Choices_Questions]
GO
ALTER TABLE [dbo].[RoundAnswers]  WITH CHECK ADD  CONSTRAINT [FK_RoundAnswers_Choices] FOREIGN KEY([ChoiceID])
REFERENCES [dbo].[Choices] ([ChoiceID])
GO
ALTER TABLE [dbo].[RoundAnswers] CHECK CONSTRAINT [FK_RoundAnswers_Choices]
GO
ALTER TABLE [dbo].[RoundAnswers]  WITH CHECK ADD  CONSTRAINT [FK_RoundAnswers_Questions] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Questions] ([QuestionID])
GO
ALTER TABLE [dbo].[RoundAnswers] CHECK CONSTRAINT [FK_RoundAnswers_Questions]
GO
ALTER TABLE [dbo].[RoundAnswers]  WITH CHECK ADD  CONSTRAINT [FK_RoundAnswers_Rounds] FOREIGN KEY([RoundID])
REFERENCES [dbo].[Rounds] ([RoundID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoundAnswers] CHECK CONSTRAINT [FK_RoundAnswers_Rounds]
GO
ALTER TABLE [dbo].[Rounds]  WITH CHECK ADD  CONSTRAINT [FK_Rounds_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rounds] CHECK CONSTRAINT [FK_Rounds_Users]
GO
/****** Object:  StoredProcedure [dbo].[spAdministrator_Create]    Script Date: 11/5/2025 9:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: spAdministrator_Create
CREATE PROCEDURE [dbo].[spAdministrator_Create]
    @Username VARCHAR(50),
    @Password VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    
    IF EXISTS (SELECT 1 FROM Administrators WHERE Username = @Username)
    BEGIN
        RAISERROR('El nombre de usuario "%s" ya existe.', 16, 1, @Username);
        RETURN;
    END
    
    INSERT INTO Administrators (Username, Password)
    VALUES (@Username, @Password);
    
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS AdminID;
END
GO
/****** Object:  StoredProcedure [dbo].[spAdministrator_Delete]    Script Date: 11/5/2025 9:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: spAdministrator_Delete
CREATE PROCEDURE [dbo].[spAdministrator_Delete]
    @AdminID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    IF NOT EXISTS (SELECT 1 FROM Administrators WHERE AdminID = @AdminID)
    BEGIN
        RAISERROR('El administrador con ID %d no existe.', 16, 1, @AdminID);
        RETURN;
    END
    
    DELETE FROM Administrators
    WHERE AdminID = @AdminID;
END
GO
/****** Object:  StoredProcedure [dbo].[spAdministrator_GetAll]    Script Date: 11/5/2025 9:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: spAdministrator_GetAll
CREATE PROCEDURE [dbo].[spAdministrator_GetAll]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        AdminID,
        Username,
        CreatedAt
    FROM Administrators
    ORDER BY CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[spAdministrator_Login]    Script Date: 11/5/2025 9:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: spAdministrator_Login
CREATE PROCEDURE [dbo].[spAdministrator_Login]
    @Username VARCHAR(50),
    @Password VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        AdminID,
        Username,
        Password,
        CreatedAt
    FROM Administrators
    WHERE Username = @Username AND Password = @Password;
END
GO
/****** Object:  StoredProcedure [dbo].[spAdministrator_UpdatePassword]    Script Date: 11/5/2025 9:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: spAdministrator_UpdatePassword
CREATE PROCEDURE [dbo].[spAdministrator_UpdatePassword]
    @AdminID INT,
    @NewPassword VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    
    IF NOT EXISTS (SELECT 1 FROM Administrators WHERE AdminID = @AdminID)
    BEGIN
        RAISERROR('El administrador con ID %d no existe.', 16, 1, @AdminID);
        RETURN;
    END
    
    UPDATE Administrators
    SET Password = @NewPassword
    WHERE AdminID = @AdminID;
    
    SELECT AdminID, Username, CreatedAt
    FROM Administrators
    WHERE AdminID = @AdminID;
END
GO
/****** Object:  StoredProcedure [dbo].[spAdministrator_Validate]    Script Date: 11/5/2025 9:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: spAdministrator_Validate
CREATE PROCEDURE [dbo].[spAdministrator_Validate]
    @Username VARCHAR(50),
    @Password VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @IsValid BIT = 0;
    
    IF EXISTS (SELECT 1 FROM Administrators WHERE Username = @Username AND Password = @Password)
    BEGIN
        SET @IsValid = 1;
    END
    
    SELECT @IsValid AS IsValid;
END
GO
/****** Object:  StoredProcedure [dbo].[spOption_new]    Script Date: 11/5/2025 9:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Crear opción
CREATE   PROCEDURE [dbo].[spOption_new]
@QuestionID INT,
@ChoiceText VARCHAR(500),
@IsCorrect BIT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Choices (QuestionID, ChoiceText, IsCorrect)
    VALUES (@QuestionID, @ChoiceText, @IsCorrect);
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS ChoiceID;
END
GO
/****** Object:  StoredProcedure [dbo].[spQuestion_New]    Script Date: 11/5/2025 9:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Crear Pregunta
Create   Procedure [dbo].[spQuestion_New]
@Text varchar (1000),
@Difficulty tinyint = 1
As
BEGIN 
    set NOCOUNT on; 
    Insert Into Questions(Text, Difficulty) values (@Text, @Difficulty);
    Select SCOPE_IDENTITY() as QuestionID;
    END
GO
/****** Object:  StoredProcedure [dbo].[spQuestions_Take3]    Script Date: 11/5/2025 9:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Obtener 3 preguntas aleatorias
CREATE   PROCEDURE [dbo].[spQuestions_Take3]
AS
BEGIN
  SET NOCOUNT ON;
  SELECT TOP 3 QuestionID
  FROM Questions
  ORDER BY NEWID();
END
GO
/****** Object:  StoredProcedure [dbo].[spRounds_Answer]    Script Date: 11/5/2025 9:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Registrar respuesta a una pregunta de una ronda
CREATE   PROCEDURE [dbo].[spRounds_Answer]
@RoundID INT,
@QuestionID INT,
@ChoiceID INT,
@TimeSpentSec INT
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM Choices WHERE ChoiceID=@ChoiceID AND QuestionID=@QuestionID)
    BEGIN
        RAISERROR(N'La opción no pertenece a la pregunta indicada.', 16, 1);
        RETURN;
    END;
    INSERT INTO RoundAnswers (RoundID, QuestionID, ChoiceID, IsCorrect, TimeSpentSec)
    SELECT @RoundID, @QuestionID, @ChoiceID, c.IsCorrect, @TimeSpentSec
    FROM Choices c
    WHERE c.ChoiceID = @ChoiceID;
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS RoundAnswerID;
END
GO
/****** Object:  StoredProcedure [dbo].[spRounds_Close]    Script Date: 11/5/2025 9:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spRounds_Close]
  @RoundID INT
AS
BEGIN
  SET NOCOUNT ON;
  BEGIN TRY
    BEGIN TRAN;
    DECLARE @total INT = (SELECT COUNT(*) FROM RoundAnswers WHERE RoundID=@RoundID);
    IF (@total <> 3)
    BEGIN
      RAISERROR(N'La ronda debe tener exactamente 3 respuestas (actual: %d).', 16, 1, @total);
      ROLLBACK TRAN;
      RETURN;
    END;
    DECLARE @duracion INT = DATEDIFF(SECOND, 
      (SELECT StartedAt FROM Rounds WHERE RoundID=@RoundID),
      SYSUTCDATETIME());

    DECLARE @correctas INT = (
      SELECT COUNT(*) FROM RoundAnswers WHERE RoundID=@RoundID AND IsCorrect=1
    );

    DECLARE @tiempo_total INT = (
      SELECT SUM(TimeSpentSec) FROM RoundAnswers WHERE RoundID=@RoundID
    );

    DECLARE @score INT = @correctas * 10;
    DECLARE @base_xp INT = @score;
    DECLARE @bonus_xp INT = CASE 
      WHEN @tiempo_total <= 30 THEN 20
      WHEN @tiempo_total <= 60 THEN 10
      ELSE 0
      END;
    DECLARE @xp INT = @base_xp + @bonus_xp;

    UPDATE Rounds
    SET CompletedAt = SYSUTCDATETIME(),
        Score = @score,
        XpEarned = @xp,
        DurationSec = @duracion
    WHERE RoundID = @RoundID;

    UPDATE u
      SET u.Xp = u.Xp + @xp,
          u.Level = 1 + (u.Xp / 100)
    FROM Users u
    JOIN Rounds r ON r.UserID = u.UserID
    WHERE r.RoundID = @RoundID;

    COMMIT TRAN;
    SELECT @score AS Score, @xp AS XpEarned, @correctas AS Correctas, @tiempo_total AS TiempoTotalSegundos;
  END TRY
  BEGIN CATCH
    IF XACT_STATE() <> 0 ROLLBACK TRAN;
    DECLARE @msg NVARCHAR(4000) = ERROR_MESSAGE();
    RAISERROR(@msg, 16, 1);
  END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spRounds_Details]    Script Date: 11/5/2025 9:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spRounds_Details]
  @RoundID INT
AS
BEGIN
  SET NOCOUNT ON;
  SELECT 
      ra.RoundAnswerID,
      q.Text AS Pregunta,
      c.ChoiceText AS Respuesta,
      ra.IsCorrect,
      ra.TimeSpentSec,
      ra.AnsweredAt
  FROM RoundAnswers ra
  INNER JOIN Questions q ON q.QuestionID = ra.QuestionID
  INNER JOIN Choices c ON c.ChoiceID = ra.ChoiceID
  WHERE ra.RoundID = @RoundID
  ORDER BY ra.AnsweredAt ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[spRounds_History]    Script Date: 11/5/2025 9:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Historial de rondas por usuario
CREATE   PROCEDURE [dbo].[spRounds_History]
  @UserID INT
AS
BEGIN
  SET NOCOUNT ON;
  SELECT r.RoundID, r.Score, r.XpEarned, r.DurationSec, r.StartedAt, r.CompletedAt
  FROM Rounds r
  WHERE r.UserID = @UserID
  ORDER BY r.StartedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[spRounds_New]    Script Date: 11/5/2025 9:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Crear ronda para usuario
CREATE   PROCEDURE [dbo].[spRounds_New]
@UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Rounds (UserID) VALUES (@UserID);
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS RoundID;
END
GO
/****** Object:  StoredProcedure [dbo].[spUser_DeleteComplete]    Script Date: 11/5/2025 9:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para eliminar usuario y todos sus datos
CREATE   PROCEDURE [dbo].[spUser_DeleteComplete]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Verificar que el usuario existe
        IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @UserID)
        BEGIN
            RAISERROR(N'El usuario con ID %d no existe.', 16, 1, @UserID);
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- Obtener información del usuario antes de eliminar
        DECLARE @Username VARCHAR(50);
        SELECT @Username = Username FROM Users WHERE UserID = @UserID;
        
        -- Eliminar respuestas de rondas (RoundAnswers)
        DELETE ra FROM RoundAnswers ra
        INNER JOIN Rounds r ON ra.RoundID = r.RoundID
        WHERE r.UserID = @UserID;
        
        -- Eliminar rondas del usuario
        DELETE FROM Rounds WHERE UserID = @UserID;
        
        -- Eliminar el usuario
        DELETE FROM Users WHERE UserID = @UserID;
        
        COMMIT TRANSACTION;
        
        -- Retornar confirmación
        SELECT 
            @UserID as DeletedUserID, 
            @Username as DeletedUsername,
            'Usuario eliminado exitosamente' as Message;
            
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spUser_GetDetailedStats]    Script Date: 11/5/2025 9:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para obtener estadísticas detalladas de un usuario
CREATE   PROCEDURE [dbo].[spUser_GetDetailedStats]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        u.UserID,
        u.Username,
        u.Xp,
        u.Level,
        u.CreatedAt,
        COUNT(r.RoundID) as TotalRounds,
        ISNULL(SUM(r.Score), 0) as TotalScore,
        ISNULL(AVG(CAST(r.Score AS FLOAT)), 0) as AverageScore,
        ISNULL(SUM(r.XpEarned), 0) as TotalXpEarned,
        ISNULL(MIN(r.StartedAt), u.CreatedAt) as FirstRound,
        ISNULL(MAX(r.CompletedAt), u.CreatedAt) as LastRound
    FROM Users u
    LEFT JOIN Rounds r ON u.UserID = r.UserID AND r.CompletedAt IS NOT NULL
    WHERE u.UserID = @UserID
    GROUP BY u.UserID, u.Username, u.Xp, u.Level, u.CreatedAt;
END
GO
/****** Object:  StoredProcedure [dbo].[spUser_New]    Script Date: 11/5/2025 9:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Arreglar procedimientos almacenados para devolver INT explícitamente

-- Crear Usuario
CREATE   PROCEDURE [dbo].[spUser_New]
@username varchar(50)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Users(Username) VALUES (@username);
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[spUser_ResetXP]    Script Date: 11/5/2025 9:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para resetear XP de un usuario
CREATE   PROCEDURE [dbo].[spUser_ResetXP]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Verificar que el usuario existe
        IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @UserID)
        BEGIN
            RAISERROR(N'El usuario con ID %d no existe.', 16, 1, @UserID);
            RETURN;
        END
        
        -- Resetear XP y Level
        UPDATE Users 
        SET Xp = 0, Level = 1 
        WHERE UserID = @UserID;
        
        -- Retornar información del usuario actualizado
        SELECT UserID, Username, Xp, Level, CreatedAt 
        FROM Users 
        WHERE UserID = @UserID;
        
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spUser_UpdateUsername]    Script Date: 11/5/2025 9:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimientos almacenados para administración del ranking
-- Ejecutar estos en la base de datos CodeQuest

-- Procedimiento para modificar nombre de usuario
CREATE   PROCEDURE [dbo].[spUser_UpdateUsername]
    @UserID INT,
    @NewUsername VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Verificar que el usuario existe
        IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @UserID)
        BEGIN
            RAISERROR(N'El usuario con ID %d no existe.', 16, 1, @UserID);
            RETURN;
        END
        
        -- Verificar que el nuevo nombre no esté en uso
        IF EXISTS (SELECT 1 FROM Users WHERE Username = @NewUsername AND UserID != @UserID)
        BEGIN
            RAISERROR(N'El nombre de usuario "%s" ya está en uso.', 16, 1, @NewUsername);
            RETURN;
        END
        
        -- Actualizar el nombre de usuario
        UPDATE Users 
        SET Username = @NewUsername 
        WHERE UserID = @UserID;
        
        -- Retornar información del usuario actualizado
        SELECT UserID, Username, Xp, Level, CreatedAt 
        FROM Users 
        WHERE UserID = @UserID;
        
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spUsers_TopRanking]    Script Date: 11/5/2025 9:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spUsers_TopRanking]
AS
BEGIN
  SET NOCOUNT ON;
  SELECT TOP 10 
    u.Username, 
    u.Xp, 
    u.Level, 
    COUNT(r.RoundID) AS RondasJugadas, 
    AVG(CAST(r.Score AS FLOAT)) AS ScorePromedio,
    MAX(r.CompletedAt) AS UltimaRonda
  FROM Users u
  LEFT JOIN Rounds r ON r.UserID = u.UserID
  GROUP BY u.UserID, u.Username, u.Xp, u.Level
  ORDER BY u.Xp DESC, ScorePromedio DESC, RondasJugadas DESC;
END
GO
